html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Red Hat Display', sans-serif;
}

h1{
    color: #A904F8;
    font-size: 3rem;
    margin: 1rem;
}

.vMargin{
    margin: 1.5rem 0;
    width: 100%;
}

.main{
    @include flexIt();
    width: 100%;
    background-image: url('../public/Background.png');
}

.flexColumn{
    @include flexIt();
    flex-direction: column;
}

.content {
    @include flexIt();
    flex-direction: column;
    width: 400px;
}