html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  color: #a904f8;
  font-size: 3rem;
}

.vMargin {
  margin: 1.5rem 0;
  width: 100%;
}
.smallVMargin {
  margin: 0.5rem 0;
}

.smallVMargin {
  margin: 0.5rem 0;
}

.main {
  @include flexIt();
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../public/img/general/Background.png");
  .content {
    justify-content: flex-start;
    max-width: 600px;
    width: 100%;
    padding: 0px 25px;
    height: 100%;
    .alignCenter {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .centerFlex {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }
}

.list {
  padding: 0px;
  li {
    list-style: none;
  }
}

.flexColumn {
  @include flexIt();
  flex-direction: column;
}

.flexRow {
  width: 100%;
  @include flexIt();
  flex-direction: row;
  justify-content: space-between;
}

.textCenter {
  text-align: center;
}
//Takuya CSS stuff

.eventTitle {
  text-align: center;
  width: 100%;
}

.navigationBar {
  @include flexIt();
  width: 100%;
  margin: 20px 0px;
  justify-content: space-between;
}

.categories {
  @include flexIt();
  align-items: center;
  min-height: 160px;
  width: 100%;
  margin: 0px;
  flex-direction: row;
  overflow-x: auto;
  div {
    margin: 0px 10px;
  }
}

.recipePost {
  @include flexIt();
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  & > div {
    width: 100%;
  }
  & > div > div > div{
    margin: 15px 0px;
  }
}

.plusButton {
  position: fixed;
  bottom: 130px;
  right: 5%;
}

//amina css stuff

.topmenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.positionplusbutton {
  position: absolute;
  bottom: 130px;
  right: 5%;
  z-index: 1;
}

.searchbarbox {
  width: 100%;
  padding-top: 10px;
}

.ImagecardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  & div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
}

.ImageBadgeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  & > div {
    margin: 15px 0px;
  }
}

//Simon CSS stuff
// for setting page

.settingList {
  @include flexIt();
  width: 100%;
  justify-content: center;
  height: 9%;
}

.headerSetting {
  @include flexIt();
  width: 100%;
  margin-top: 15px;
  justify-content: left;
}

.title {
  @include flexIt();
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
  .titleImg {
    margin-right: 15px;
  }
}

.subtitle{
  margin-top: 10px;
}
// for setting > appearance  page
.accountList {
  width: 100%;
  justify-content: center;
  height: 9%;

  // for setting > appearance light mode page
  // for setting > account  page

  .accountList {
    width: 100%;
    justify-content: center;
    height: 9%;
  }

  // appearance dark mode page

  .mainDark {
    @include flexIt();
    width: 100%;
    height: 100vh;
    background-color: black;

    .contentDark {
      @include flexIt();
      justify-content: flex-start;
      flex-direction: column;
      max-width: 600px;
      width: 100%;
      color: white;
      margin: 0px 50px;
      height: 100%;

      .headerSettingDark {
        @include flexIt();
        width: 100%;
        margin-top: 15px;
        justify-content: left;
      }

      .titleDark {
        @include flexIt();
        margin-top: 50px;
        margin-bottom: 10px;

        .titleImgDark {
          margin: 10px;
        }
      }
      .settingListDark {
        @include flexIt();
        width: 100%;
        justify-content: center;
        height: 9%;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
}
